/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIF
 */


// CAPS WORD
&caps_word {
    continue-list = <UNDERSCORE MINUS>;
};

// MOD MORPHS
MORPH(paren_angle_l, &kp LEFT_PARENTHESIS, &kp LESS_THAN)
MORPH(paren_angle_r, &kp RIGHT_PARENTHESIS, &kp GREATER_THAN)
MORPH(star_percent, &kp STAR, &kp PERCENT)
MORPH(slash, &kp SLASH, &kp BACKSLASH)
MORPH(marks, &kp QUESTION, &kp EXCLAMATION)
MORPH(stops, &kp DOT, &kp COMMA)

MORPH(mouse_up, &mmv MOVE_Y(-MSPD_SLOW), &mmv MOVE_Y(-MSPD_FAST))
MORPH(mouse_down, &mmv MOVE_Y(MSPD_SLOW), &mmv MOVE_Y(MSPD_FAST))
MORPH(mouse_left, &mmv MOVE_X(-MSPD_SLOW), &mmv MOVE_X(-MSPD_FAST))
MORPH(mouse_right, &mmv MOVE_X(MSPD_SLOW), &mmv MOVE_X(MSPD_FAST))
// MORPH(colons, &kp COLON, &kp SEMICOLON)

// HOMEROW MODS
HRM(hrml, RIGHT_KEYS, PRIOR_IDLE)
HRM(hrmls, RIGHT_KEYS, 0)
HRM(hrmr, LEFT_KEYS, PRIOR_IDLE)
HRM(hrmrs, LEFT_KEYS, 0)

// HOMEROW MOD FOR PUCTUATION BEHAVIOR
/ { \
    behaviors { \
        hrmr_stops: hrmr_punctuation { \
            compatible = "zmk,behavior-hold-tap"; \
            #binding-cells = <2>; \
            flavor = "balanced"; \
            tapping-term-ms = <500>; \
            quick-tap-ms = <QUICK_TAP_TERM>; \
            bindings = <&kp>, <&stops>; \
            require-prior-idle-ms = <PRIOR_IDLE>; \
            hold-trigger-key-positions = <LEFT_KEYS>; \
            hold-trigger-on-release; \
        }; \
    }; \
};

// MOD-TAP
/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <QUICK_TAP_TERM>;
            bindings = <&kp>, <&kp>;
            require-prior-idle-ms = <PRIOR_IDLE>;
        };
    };
};

// MOUSE MOVEMENT
&mmv {
    x-input-code = <INPUT_REL_X>;
    y-input-code = <INPUT_REL_Y>;
    time-to-max-speed-ms = <0>;
    acceleration-exponent = <0>;
};
