/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

/ {
    behaviors {
        hml: left_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <1000>;
            quick-tap-ms = <250>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions =  <6 7 8 9 10 \
                                           18 19 20 21 22 \
                                           30 31 32 33 34>;
            hold-trigger-on-release;
        };

        hmr: right_positional_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <1000>;
            quick-tap-ms = <250>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions =  <1 2 3 4 5 \
                                           13 14 15 16 17 \
                                           25 26 27 28 29>;
            hold-trigger-on-release;
        };

        skm: sticky_mod_tap {
                compatible = "zmk,behavior-hold-tap";
                #binding-cells = <2>;
                tapping-term-ms = <200>;
                bindings = <&kp>, <&sk>;
                hold-while-undecided;
                hold-while-undecided-linger;
            };
    };
};

&sk {
    quick-release;
    lazy;
};

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
                        bindings = <
// ╭──────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────╮
// |      |      Q      |      W      |      F      |      P      |      B      | |      J      |      L      |      U      |      Y      |      ;      |      |
    &none      &kp Q         &kp W         &kp F         &kp P         &kp B           &kp J         &kp L         &kp U         &kp Y         &kp SEMI  &none
// ├──────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤
// |      |      A      |      R      |      S      |      T      |      G      | |      M      |      N      |      E      |      I      |      O      |      |
    &none      &kp A     &hml LGUI R   &hml LCTRL S  &hml LSHIFT T     &kp G           &kp M     &hmr RSHIFT N &hmr RCTRL E  &hmr RGUI I       &kp O     &none
// ├──────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤
// |      |      Z      |      X      |      C      |      D      |      V      | |      K      |      H      |      ,      |      .      |      /      |      |
    &none      &kp Z         &kp X         &kp C     &hml LALT D       &kp V           &kp K     &hmr RALT H     &kp COMMA      &kp DOT       &kp FSLH   &none
// ╰──────┴─────────────┴─────────────┴──────┬──────┴──────┬──────┴──────┬──────┴─┴──────┬──────┴─────────────┴──────┬──────┴─────────────┴─────────────┴──────╯
//                                           |             |    RETURN   |      ESC      |    SPACE    |             |
                                                  &none       &lt 1 RET       &kp ESC      &lt 2 SPACE      &none
//                                           ╰─────────────┴─────────────┴───────────────┴─────────────┴─────────────╯
                        >;
                };

                nav_layer {
                        bindings = <
// ╭──────┬─────────────┬──────────────┬────────────────┬────────────────┬─────────────╮ ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────╮
// |      |      󰝟      |      󰒮       |       󰐊        |       󰒭        |      󰓛      | |      H      |      J      |      K      |      L      |      V      |      |
    &none      &kp Q         &kp W           &kp F             &kp P          &kp B            &kp H         &kp J         &kp K         &kp L         &kp V     &none
// ├──────┼─────────────┼──────────────┼────────────────┼────────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤
// |      |     BT0     |    LGUI      |    LCTRL       |   LSHIFT       |   EP TOG    | |      󰜱      |      󰜮      |      󰜷      |      󰜴      |  CAPS WORD  |      |
    &none  &bt BT_SEL 0  &skm LGUI LGUI &skm LCTRL LCTRL &skm LSHFT LSHFT &ext_power EP_TOG         &kp LEFT     &kp DOWN       &kp UP       &kp RIGHT    &caps_word   &none
// ├──────┼─────────────┼──────────────┼────────────────┼────────────────┼─────────────┤ ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────┤
// |      |     BT3     |     BT2      |     BT1        |    LALT        |   OUT TOG   | |    HOME     |  PAGE DOWN  |   PAGE UP   |     END     |   INSERT    |      |
    &none  &bt BT_SEL 3   &bt BT_SEL 2  &bt BT_SEL 1      &skm LALT LSHFT  &out OUT_TOG &kp HOME    &kp PG_DN    &kp PG_UP      &kp END      &kp INS     &none
// ╰──────┴─────────────┴──────────────┴────────────┬───┴─────────┬──────┴──────┬──────┴─┴──────┬──────┴─────────────┴──────┬──────┴─────────────┴─────────────┴──────╯
//                                                  |             | TRANSPARENT |      TAB      | TRANSPARENT |             |
                                                         &none        &trans         &kp TAB        &trans         &none
//                                                  ╰─────────────┴─────────────┴───────────────┴─────────────┴─────────────╯
                        >;
                };

                num_layer {
                        bindings = <
// ╭──────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮ ╭─────────────┬─────────────────┬─────────────────┬─────────────┬─────────────┬──────╮
// |      |             |      7      |      8      |      9      |      #      | |      %      |        $        |        €        |      &      |             |      |
    &none     &none         &kp N4        &kp N5        &kp N6       &kp HASH        &kp PRCNT       &kp DLLR            &kp U         &kp AMPS        &none     &none
// ├──────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────────┼─────────────────┼─────────────┼─────────────┼──────┤
// |      |      3      |      2      |      1      |      0      |      @      | |      _      |        =        |        -        |      +      |      *      |      |
    &none     &kp N3     &hml LGUI N2  &hml LCTRL N1 &hml LSHIFT N0   &kp AT         &kp UNDER   &hmr RSHIFT EQUAL &hmr RCTRL MINUS &hmr RGUI PLUS   &kp ASTRK   &none
// ├──────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────┼─────────────────┼─────────────────┼─────────────┼─────────────┼──────┤
// |      |             |      6      |      5      |      4      |      |      | |             |        ^        |        ~        |      `      |             |      |
    &none     &none         &kp N6        &kp N5     &hml LALT N4    &kp PIPE          &none      &hmr RALT CARET      &kp TILDE       &kp GRAVE       &none     &none
// ╰──────┴─────────────┴─────────────┴──────┬──────┴──────┬──────┴──────┬──────┴─┴──────┬──────┴─────────────────┴──┬──────────────┴─────────────┴─────────────┴──────╯
//                                           |             | TRANSPARENT |  TRANSPARENT  | TRANSPARENT |  BACKSPACE  |
                                                  &none        &trans         &trans         &trans       &kp BSPC
//                                           ╰─────────────┴─────────────┴───────────────┴─────────────┴─────────────╯
                        >;
                };

                adjust_layer {
// -----------------------------------------------------------------------------------------
// | RGB BRI+ | RGB SAT+ | RGB HUE+ | RGB ANI+ |    | RGB TOG |   |  BT1  | BT2 | BT3 | BT4 | BT5 | BT CLR |
// | RGB BRI- | RGB SAT- | RGB HUE- | RGB ANI- |    |         |   |       |     |     |     |     |        |
// |          |          |          |          |    |         |   | RESET |     |     |     |     |        |
//                                              |     |     |     |     |     |
                        bindings = <
   &rgb_ug RGB_BRI &rgb_ug RGB_SAI &rgb_ug RGB_HUI &rgb_ug RGB_EFF &none &rgb_ug RGB_TOG    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &bt BT_CLR
   &rgb_ug RGB_BRD &rgb_ug RGB_SAD &rgb_ug RGB_HUD &rgb_ug RGB_EFR &none &none              &none        &none        &none        &none        &none        &none
   &none           &none           &none           &none           &none &none              &sys_reset       &none        &none        &none        &none        &none
                                                             &trans      &trans       &tog 3        &trans      &trans
                        >;
                };
        };
};
